{% extends 'tracker/home.html' %}
{% block expense-container %}
  {% for expense in expenses %}
    {% if expense.id == update_id %}
      <div>
        <form method="POST">
          {% csrf_token %}
          {{ update_form }}
          {{ update_form.errors }}
          <button type="submit">Update</button>
          <a href="{% url 'tracker-home' %}">Cancel</a>
        </form>
      </div>
    {% else %}
      <h3>{{ expense.amount }} - {{ expense.reason }}</h3>
    {% endif %}
  {% endfor %}
{% endblock expense-container %}