{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="container" style="margin-top: 30px;">

    <h3>Expense Balancer</h3>
    <a href="{% url 'event-create' %}">Add Event</a>

    {% if event_form %}
    <div>
        <form action="{% url 'event-create' %}" method="POST">
            {% csrf_token %}
            {{ event_form.name }}
            <button>Add</button>
        </form>
    </div>
    {% endif %}

    {% for event in events %}
    <div class="event-container">
        <h4>{{ event.name }} | Rs. {{ event.total_amount }}</h4>

        <a href="{% url 'contributor-create' event.id %}">Add Contributor</a>
        <a href="{% url 'expense-create' event.id %}">Add Expense</a>

        {% if delete_event_confirmation and selected_id == event.id %}
        <a href="{% url 'event-delete' event.id %}">Yes</a>
        <a href="{% url 'expense-balancer' %}">No</a>
        {% else %}
        <a href="{% url 'event-delete-confirmation' event.id %}">Delete Event</a>
        {% endif %}

        {% if contributor_form and selected_id == event.id %}
        <div>
            <form action="{% url 'contributor-create' event.id %}" method="POST">
                {% csrf_token %}
                {{ contributor_form.name }}
                <button>Add</button>
            </form>
        </div>
        {% endif %}

        {% if expense_form and selected_id == event.id %}
        <div>
            <form action="{% url 'expense-create' event.id %}" method="POST">
                {% csrf_token %}
                {{ expense_form.reason }}
                <button>Add</button>
            </form>
        </div>
        {% endif %}

        <div>
            Contributors:
            {% for contributor in event.contributors %}
            <div>{{ contributor.name }} | Total: {{ contributor.total_amount }}</div>
            {% endfor %}
        </div>

        <div>
            Expenses:
            {% for expense in event.expenses %}
            <div class="expense-container">
                {{ expense.reason }} | {{ expense.total_amount }}
                <a href="{% url 'contribution-create' expense.id %}">Add Contribution</a>

                {% if delete_expense_confirmation and selected_id == expense.id %}
                <a href="{% url 'event-expense-delete' expense.id %}">Yes</a>
                <a href="{% url 'expense-balancer' %}">No</a>
                {% else %}
                <a href="{% url 'event-expense-delete-confirmation' expense.id %}">Delete Expense</a>
                {% endif %}

                {% if contribution_form and selected_id == expense.id %}
                <div>
                    <form action="{% url 'contribution-create' expense.id %}" method="POST">
                        {% csrf_token %}
                        {{ contribution_form.amount }}
                        {{ contribution_form.contributor }}
                        {{ contribution_form.amount.errors }}
                        {{ contribution_form.contributor.errors }}
                        <button>Add</button>
                    </form>
                </div>
                {% endif %}

                {% for contribution in expense.contributions %}
                <div>{{ contribution.contributor }} paid {{ contribution.amount }}</div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>

        {% if event.transfers %}<div>Pending money transfers:</div>{% endif %}
        {% for transfer in event.transfers %}
        <div>
            {{ transfer.from }} -> {{ transfer.to }} : {{ transfer.amount }}
        </div>
        {% endfor %}
    </div>
    {% endfor %}

</div>

{% endblock content%}