{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="container" style="margin-top: 30px;">

    <h3>Pending Expenses</h3>

    <div class="row">
        <div class="col-4">
            <div class="sidebar-panel add-expense-panel">
                <div class="sidebar-panel-header">
                    <p>Add New Pending Expense</p>
                </div>
                <div class="sidebar-panel-content">
                    <form action="{% url 'pending-expense-create' %}" method="POST">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col">{{ form.amount }}</div>
                            <div class="col">{{ form.date_of_expenditure }}</div>
                        </div>
                        {{ form.reason }}
                        <input type="text" id="tagInput" name="tagInput" class="mb-3" placeholder="Insert a tag and press enter"/>
                        <input type="hidden" id="tagsString" name="tagsString" class="mb-3"/>
                        
                        <ul id="tagsContainer">

                        </ul>

                        <div style="width: 100%; text-align: right;">
                            <button type="submit" class="custom-add-btn">Add</button>
                        </div>
                    </form>
               </div>
            </div>
            <div class="sidebar-panel expense-totals-panel">
                <div class="sidebar-panel-content">
                    <p>Total pending cost: {{ total_pending }}</p>
                    <p>Total completed cost: {{ total_completed }}</p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="sidebar-panel pending-expenses-panel">
                <div class="sidebar-panel-header">
                    <p>Pending Expenses</p>
                </div>
                <div class="sidebar-panel-content">
                    {% if not pending_expenses %}
                    <div>No pending expenses</div>
                    {% endif %}
                    {% for expense in pending_expenses %}
                        <div class="pending-expense-item">
                            <table>
                                <tr>
                                    <td>
                                        {{ expense.reason }}
                                    </td>
                                    <td>
                                        <a href="{% url 'pending-expense-complete' expense.id %}">Complete</a>
                                        <a href="#">Delete</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="sidebar-panel completed-expenses-panel">
                <div class="sidebar-panel-header">
                    <p>Completed Expenses</p>
                </div>
                <div class="sidebar-panel-content">
                    {% if not completed_expenses %}
                    <div>No completed expenses</div>
                    {% endif %}

                    {% for expense in completed_expenses %}
                        <div class="pending-expense-item">
                            <table>
                                <tr>
                                    <td>
                                        {{ expense.reason }}
                                    </td>
                                    <td>
                                        <a href="{% url 'pending-expenses-undo' expense.id %}">Undo</a>
                                        <a href="#">Delete</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>

    </div>
    
</div>

<script>
    $( function() {
      $( "#tagInput" ).autocomplete({
        source: "{% url 'tag-autocomplete' %}"
      });
    } );
</script>

<script type="text/javascript" src="{% static 'js/script.js' %}"></script>


{% endblock content%}