{% extends 'tracker/base.html' %}
{% load static %}
{% block content %}
  
  <div class="container">
    <div class="register-container">
      <legend class="border-bottom mb-4">Register Here</legend>
      <!-- <h3>Register Here</h3> -->
      <form method="POST">
        {% csrf_token %}
        <div class="row">
          <div class="col-8">
            <table>
              <tr>
                <td>
                  <label for="id_username">Username:</label> 
                </td>
                <td>
                  <input class="register-input" type="text" name="username" maxlength="150" autofocus required id="id_username">
                </td>
              </tr>
              <tr>
                <td>
                  <label for="id_email">Email:</label> 
                </td>
                <td>
                  <input class="register-input" type="email" name="email" required id="id_email">
                </td>
              </tr>
              <tr>
                <td>
                  <label for="id_password1">Password:</label> 
                </td>
                <td>
                  <input class="register-input" type="password" name="password1" autocomplete="new-password" required id="id_password1"> 
                </td>
              </tr>
              <tr>
                <td>
                  <label for="id_password2">Password confirmation:</label> 
                </td>
                <td>
                  <input class="register-input" type="password" name="password2" autocomplete="new-password" required id="id_password2"> 
                </td>
              </tr>
            </table>
            <button type="submit" class="register-btn">Register</button>
            <div class="border-top pt-3">
              <small class="text-muted">
                Already Have An Account? <a href="#" class="ml-2">Sign In</a>
              </small>
            </div>
          </div>
          <div class="col-4 helptext-container">
            <span class="helptext">
              <ul>
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
              </ul>
            </span>
          </div>
        </div> 
        
        
      </form>
    </div>
  </div>
  
  
{% endblock content %}