{% extends 'tracker/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="auth-container register-container">
        <legend class="border-bottom mb-4">Register Here</legend>
        <!-- <h3>Register Here</h3> -->
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-8">

                    <table>
                        <tr>
                            <td>
                                <label for="id_username">Username:</label>
                            </td>
                            <td>
                                <ul class="errorlist">
                                    <li>A user with that username already exists.</li>
                                </ul>
                                <input class="auth-input" type="text" name="username" maxlength="150" autofocus required
                                       id="id_username">
                                <br>
                                <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="id_email">Email:</label>
                            </td>
                            <td>
                                <input class="auth-input" type="email" name="email" required id="id_email">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="id_password1">Password:</label>
                            </td>
                            <td>
                                <input class="auth-input" type="password" name="password1" autocomplete="new-password"
                                       required id="id_password1">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="id_password2">Password confirmation:</label>
                            </td>
                            <td>
                                <ul class="errorlist">
                                    <li>The two password fields didn’t match.</li>
                                </ul>
                                <input class="auth-input" type="password" name="password2" autocomplete="new-password"
                                       required id="id_password2">
                                <br>
                                <span class="helptext">Enter the same password as before, for verification.</span>
                            </td>
                        </tr>
                    </table>
                    <button type="submit" class="auth-btn register-btn">Register</button>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Already Have An Account? <a href="{% url 'login' %}" class="ml-2">Sign In</a>
                        </small>
                    </div>
                </div>
                <div class="col-4 helptext-container">
                    <span class="helptext">
                      <ul>
                        <li>Your password can’t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li>
                        <li>Your password can’t be entirely numeric.</li>
                      </ul>
                    </span>
                </div>
            </div>


        </form>
    </div>
</div>


{% endblock content %}